.outline-blocks {
    border-style: none solid solid solid;
    border-color: var(--border);
    border-width: 1px;
    margin: auto;
    width: 846px;
    display: flex;
    height: 205px;
}

img {
    image-rendering: pixelated;
}

.block-1 {
    background-color: #050505;
    display: flex;
    width: 422px;
    border-style: none solid none none;
    border-color: var(--border);
    border-width: 1px;
}

.block-1 div:nth-child(1), .block-1 div:nth-child(3) {
    width: 211px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    padding-top: 8px;
}

.not-active-border {
    border-bottom: 1px solid var(--border);
}

.active-border {
    border-bottom: solid 2px rgb(255, 255, 255);
}

.block-border {
    width: 0;
    height: 38px;
    pointer-events: none;
    user-select: none;
    border-right: 1px solid var(--border);
}

.block-1 div:hover {
    background-color: var(--background);
}

.block-1 a {
    position: absolute;
    margin-left: 123px;
    margin-top: 91px;
}

.block-2 {
    background-color: #050505;
}

.block-2 div:nth-child(2) {
    gap: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap;;
}

.block-2 div:nth-child(2) {
    font-size: 0px;
}

.block-2 a img:hover {
    opacity: 0.7;
}

.block-2 div div a:hover {
    opacity: 0.7;
}

.block-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.block-3 a {
    font-size: 0px;
}

.block-3 a img:hover {
    opacity: 0.7;
}

.block-3 div div a:hover {
    opacity: 0.7;
}

.block-name {
    width: 88px;
    height: 31px;
    display: flex;
    background-color: var(--background);
}

.block-name div {
    display: flex;
    margin: auto;
}

.block-name div a {
    margin: auto;
    color: #e9e9e9;
    font-size: 16px;
}

.block-title {
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid var(--border);
    padding-top: 8px;
    width: 422px;
    height: 30px;
}