.outline-top-grid {
    border-style: solid solid solid solid;
    border-color: var(--border);
    border-width: 1px;
    padding: 12px;
    margin: auto;
    width: 822px;
}

.outline-all-grid {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    border-style: none solid solid solid;
    border-color: var(--border);
    border-width: 1px;
    margin: auto;
    width: 846px;
}

.grid-tiles-left {
    display: flex;
    flex-wrap: wrap;
    width: 454px;
    margin-left: 1px;
}

.grid-tiles-right {
    display: flex;
    flex-wrap: wrap;
    width: 454px;
    margin-right: -9px;
}

.grid-tiles-left div {
    height: 93px;
    width: 93px;
    margin-top: -1px;
    margin-left: -1px;
    border-color: var(--border);
    border-width: 1px;
    margin-top: 0px;
}

.grid-tiles-left div {
    border-style: none solid none none;
}

.grid-tiles-left div:nth-child(1n+5) {
    border-style: solid solid none none;
}

.grid-tiles-right div {
    height: 93px;
    width: 93px;
    margin-top: -1px;
    margin-left: -1px;
    border-color: var(--border);
    border-width: 1px;
    margin-top: 0px;
}

.grid-tiles-right div {
    border-style: none none none solid;
}

.grid-tiles-right div:nth-child(1n+5) {
    border-style: solid none none solid;
}

.tile-exception div {
    border-style: solid solid none none;
}

.text-exception div {
    border-style: solid none none none;
    border-color: var(--border);
    border-width: 1px;
    margin-left: -5px;
}

.grid-text {
    width: 567px;
}

.grid-text div {
    padding-left: 14px;
    padding-right: 14px;
}

.grid-text div h2 {
    font-family: Geist;
    margin-bottom: 2px;
    margin-top: 20px;
}

.grid-text div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

.grid-text div ul li {
    float: left;
    margin-right: 12px;
    display: flex;
}

.grid-text div ul li a {
    display: block;
    font-size: 14px;
    margin-left: 5px;
}

.grid-text div ul li img {
    width: 17px;
    height: 17px;
}

.grid-image-left {
    position: absolute;
    margin-left: -330px;
    margin-top: 58px;
}

.grid-image-right {
    position: absolute;
    margin-left: 48px;
    margin-top: 55px;
}

.grid-image-left img {
    height: 180px;
    width: 279px;
}

.grid-image-right img {
    height: 180px;
    width: 279px;
}