.blocks {
    background-color: #050505;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    height: 128px;
}

.blocks div {
    width: 258px;
}

.blocks div div:nth-child(1) {
    margin-top: 12px;
}

.webring {
    margin: -2px;
    border: 1px solid #2e2e2e;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 550;
    background-color: #0a0a0a;
}

.webring a:nth-child(2) {
    color: #e9e9e9;
    margin-left: 6px;
    margin-right: 6px;
}

.webring a:nth-child(1), .webring a:nth-child(3), .webring a:nth-child(4) {
    color: #e9e9e9;
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
}

.webring a:nth-child(1):hover, .webring a:nth-child(2):hover, .webring a:nth-child(3):hover, .webring a:nth-child(4):hover {
    background-color: #313131;
}

.webring-block {
    display: flex;
    gap: 10px;
}