/* Body */

body {
  background-color: #fdf6e3; 
  color: #5c6a72;
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Fonts */

@font-face { font-family: Unifont; src: url('https://i.supa.codes/0nLmu'); }

/* Links */

a:link {
  color: #5c6a72;
  text-decoration: none;
}

a:visited {
  color: #5c6a72;
  text-decoration: none;
}

.hover-nickname:hover {
  background-color: #e7e1d0;
}

.hover-webpages a:hover {
  background-color: #eee6d5;
}

.clickable:link {
  text-decoration: underline;
}

.clickable:link:hover {
  background-color: #dfd7c1;
}

.hover-body:hover {
  background-color: #dfd7c1;
}

.list-style-title {
  margin-bottom: 4px;
}

.list-style-description {
  margin-bottom: 16px;
}

.list-style li a {
  font-weight: bold;
}

.list-style li a:hover {
  background-color: #dfd7c1;
}

div .pixelated a img {
  image-rendering: pixelated;
}

/* Top */

.nickname {
  width: auto;
  margin: auto;
  margin-top: 8px;
  color: #839282;
  background-color: #f1ebda;
  box-shadow: 2px 2px#ccc8ae, 4px 4px #8da005;
}

.nickname a {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

/* Windows */

.the-divs {
  width: 90%;
  margin: auto;
  display: flex;
}

.the-pages {
  width: 550px;
  margin: auto;
  padding-top: 12px;
  font-family: Unifont;
  font-weight: lighter;
  font-size: larger;
  text-align: center;
}

.the-pages a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
}

.box {
  justify-content: center;
  font-family: Unifont;
  font-weight: lighter;
  font-size: larger;
}

.window-name {
  margin-top: 6px;
  padding: 4px;
  height: inherit;
  display: inline-block;
  border: 1px solid #687e3f;
  background-color: #93b259;
  color: #fef6e3;
}

div .window-text b {
  text-align: left; margin: 0;
}

div .window-text p {
  margin-top: 6px;
}

div .window-text a {
  color:  #5c6a72;
}

div::-webkit-scrollbar {
  display: none;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cross {
  float: right;
  padding-right: 4px;
  display: inline;
}

.center {
  width: auto;
  margin-top: 0px;
  padding: 4px;
  height: 320px;
  display: inline-block;
  border: 1px solid #687e3f;
  background-color: #f2ead3;
}

.red {
  color: #f85552;
}

.brave-flag li {
  margin-top: 12px;
}

.brave-flag li a {
  font-weight: bold;
  color: #659cf5;
}

.brave-flag .id {
  color: gray;
  margin-top: 6px;
}

.copy-button {
  padding: 6px 12px;
  background-color: #e56968;
  color: #fef6e3;
  font-family: Unifont;
  font-size: 19px;
  cursor: pointer;
  border: none;
}

.copy-button:hover {
  background-color: #b25150;
}

.copy-button:active {
  background-color: #7e3939;
}

/* Tooltip */

.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  border: 1px solid #687e3f;
  background-color: #93b259;
  color: #fef6e3;
  margin-top: -24px;
  margin-left: -95px;
  padding: 4px;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}

/* Dark Mode */

.dark-mode {
  background-color: #2f383e;
  color: #d3c6aa;
}

.dark-mode .nickname {
    color: #9ba79e;
    background-color: #414b51;
    box-shadow: 2px 2px#737d7b, 4px 4px #a0b87c;
}
  
.dark-mode .window-name {
  background-color: #a7c17f;
  color: #2d3436;
}

.dark-mode .switch {
  color: #d3c6aa;
}

.dark-mode .center {
  background-color: #272e32;
}

.dark-mode .tooltip-content {
  border: 1px solid #687e3f;
  background-color: #a7c17f;
  color: #2d3436;
}

.dark-mode a:link {
  color: #d3c6aa;
}

.dark-mode a:visited {
  color: #d3c6aa;
}

.dark-mode .hover-nickname:hover {
  background-color: #525f68;
}

.dark-mode .hover-webpages a:hover {
  background-color: #445158;
}

.dark-mode .hover-webpages li a:hover {
  background-color: #445158;
}

.dark-mode .hover-body:hover {
  background-color: #394449;
}

.dark-mode .red {
  color: #e67e7f;
}

.dark-mode .clickable:hover {
  background-color: #394449;
}

/* Bottom */

.below {
  height: inherit;
  margin: auto;
  display: inline-block;
}

.switch {
  background: none;
  font-family: Unifont;
  color: #5c6a72;
  font-size: 19px;
  cursor: pointer;
  border: none;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.atobold {
  font-weight: bold;
}